<!-- Maps -->
<div class="map embed-container">
    <div id="map-notice"></div>
        <div class="map-overlay"> 
            <h3 class="font-weight-bold" style="color: aliceblue; margin-top: 50px"><strong>Toutes vos activités en un clic (à modifier)</strong></h3>
            <div id="research_module">
                <div id="barbox">
                    <div id="topnav">
                        <input id="search" type="text" value="Recherchez une ville, une activité, une association...">
                    </div>
                </div>
                <div id="research_buttons">
                    <%= link_to "", "#", class: "nav-link d-lg-none", id: "button-sign-up" %>
                    <a href="#" class="btn btn-sm btn-info btn-lg btn-circle btn-icon d-none d-lg-inline-flex">
                        <span class="btn-inner--text">Lancer la recherche</span>
                    </a>
                </div>
            </div>
        </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.822509900339!2d3.8731859545435867!3d43.61023705895304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6af078b20464b%3A0xff0f2da78acb2843!2sl&#39;Anacrouse+-+%C3%89cole+de+Musique!5e0!3m2!1sfr!2sfr!4v1543884024656" width="100%" height="650px"></iframe>
</div>


<section class="" >
    
        <div class="container pt-md mb-150">
    
        </div>
    
    </section>


<!-- Spotlight -->
<section class="bg-info bg-cover" id="index-spotlight">
    
        <div class="container pt-md mb-150">
    
            <div class="row row-grid justify-content-center mb-lg">
                <div class="col-lg-6 text-center">
                    <h6 class="text-uppercase ls-2 text-white font-weight-700">utilisateur</h6>
                    <h2 class="heading h1 text-white font-weight-light">Choisissez votre profil</h2>
                </div>
            </div>
    
            <div class="pricing card-group flex-column flex-md-row mb-3">
    
                <!-- LEFT CARD -->
                <div class="card card-pricing box-shadow-1 text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'etabl.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Établissement</h5></li>
                                    <li>Toutes vos activités sur une plateforme</li>
                                    <li>Agenda personnalisé</li>
                                </ul>
                                <button type="button" class="btn-sm btn-success btn-circle mb-3 font-weight-bold">Découvrir</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- MIDDLE CARD -->
                <div class="card card-pricing zoom-in shadow-lg rounded text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'student1.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Particulier</h5></li>
                                    <li>Toutes vos activités sur une plateforme</li>
                                    <li>Agenda personnalisé</li>
                                </ul>
                                <button type="button" class="btn-sm btn-warning btn-circle mb-3 font-weight-bold">Découvrir</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- RIGHT CARD -->
                <div class="card card-pricing box-shadow-1 text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'prof2.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Professeur</h5></li>
                                    <li>Toutes vos activités sur une plateforme</li>
                                    <li>Agenda personnalisé</li>
                                </ul>
                                <button type="button" class="btn-sm btn-danger btn-circle mb-3 font-weight-bold">Découvrir</button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </section>
    

