
<section class="slice slice-lg pb-250 bg-gradient-danger" style="padding-bottom: 9em !important;box-shadow: 0px -6px 24px 0px rgba(209,209,209,0.75) !important;
">

  <div class="container pt-lg">
     
<div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header py-4">
                    <div class="d-flex align-items-center">
                        <h5 class="heading h5 mb-0">Add team members</h5>
                    </div>
                </div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <div class="list-group-img">
                            <span class="avatar bg-purple">JD</span>
                        </div>
                        <div class="list-group-content">
                            <div class="list-group-heading">Johnyy Depp <small>10:05 PM</small></div>
                            <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <div class="list-group-img">
                            <span class="avatar bg-pink">TC</span>
                        </div>
                        <div class="list-group-content">
                            <div class="list-group-heading">Tom Cruise <small>11:30 PM</small></div>
                            <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                        <div class="list-group-img">
                            <span class="avatar bg-blue">WS</span>
                        </div>
                        <div class="list-group-content">
                            <div class="list-group-heading">Will Smith <small>15:45 PM</small></div>
                            <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
                        </div>
                    </a>
                </div>
                <div class="card-footer py-2 border-top-0">
                    <form class="card-comment-box" role="form">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <input class="form-control" placeholder="e.g @willsmith">
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-sm btn-success btn-icon-only rounded-circle">
                                    <span class="btn-inner--icon"><i class="fas fa-check"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
