td {
    height: 120px;
    width: 10%;
    background-color: rgb(255, 255, 255);
    color: rgba(138, 138, 138, 0.747);
}

td.day {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

td.day.today.current-month {
    background-color: rgba(91, 243, 180, 0.123);
}

td div {
   height: 9px;
   line-height: 7px;
}

.simple-calendar.weekly h2, .simple-calendar.weekly h3 {
    text-align: center;
    margin: 5px 0;
}

.simple-calendar.weekly td {
    height: 550px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    position: relative;
}

.quarter {
  font-size: 11px;
  line-height: 9px;
  background: clear;
  content: "";
  height: 9.9px;
  width: 100%;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.11);
}
.quarter:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.quarter:nth-child(4n) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

td .quarter:first-child:before {
    content: "8h"
        // content: "8"
}

// td .quarter:nth-child(3):before {
//     content: "8:30";
// }

td .quarter:nth-child(5):before {
    content: "9h"
        // content: "9"
}

// td .quarter:nth-child(7):before {
//     content: "9:30";
// }

td .quarter:nth-child(9):before {
    content: "10h"
        // content: "10"
}

// td .quarter:nth-child(11):before {
//     content: "10:30";
// }

td .quarter:nth-child(13):before {
    content: "11h"
        // content: "11"
}

// td .quarter:nth-child(15):before {
//     content: "11:30";
// }

td .quarter:nth-child(17):before {
    content: "12h"
        // content: "12"
}

// td .quarter:nth-child(19):before {
//     content: "12:30";
// }

td .quarter:nth-child(21):before {
    content: "13h"
        // content: "13"
}

// td .quarter:nth-child(23):before {
//     content: "13:30";
// }

td .quarter:nth-child(25):before {
    content: "14h"
        // content: "14"
}

// td .quarter:nth-child(27):before {
//     content: "14:30";
// }

td .quarter:nth-child(29):before {
    content: "15h"
        // content: "15"
}

// td .quarter:nth-child(31):before {
//     content: "15:30";
// }

td .quarter:nth-child(33):before {
    content: "16h"
        // content: "16"
}

// td .quarter:nth-child(35):before {
//     content: "16:30";
// }

td .quarter:nth-child(37):before {
    content: "17h"
        // content: "17"
}

// td .quarter:nth-child(39):before {
//     content: "17:30";
// }

td .quarter:nth-child(41):before {
    content: "18h"
        // content: "18"
}

// td .quarter:nth-child(43):before {
//     content: "18:30";
// }

td .quarter:nth-child(45):before {
    content: "19h"
        // content: "19"
}

// td .quarter:nth-child(47):before {
//     content: "19:30";
// }

td .quarter:nth-child(49):before {
    content: "20h"
        // content: "20"
}

// td .quarter:nth-child(51):before {
//     content: "20:30";
// }

td .event {
    position: absolute;
    height: 1px;
    width: 74.5%;
    margin-left: 16%;
    background: rgba(236, 73, 32, 0.733);
    content: " ";
    text-align: center;
    font-size: 85%;
    border-radius: 5px;
}

td .event a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .event.highlight {
//     background: hotpink;
// }

.name {
    font-size: 140%;
}

// Calendar Styles for Full Width Calendar Pages

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .simple-calendar td .event {
        width: 68%;
        margin-left: 20%
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .simple-calendar td .event {
        width: 58%;
        margin-left: 26%;
    }
}

@media screen and (max-width: 767px) {
    .simple-calendar td .event {
        width: 79%;
    }
}

// Calendar Styles for New event Page

form#new_event, form.edit_event {
    max-width: 100%;
}

@media screen and (min-width: 1200px) {
    form#new_event, form.edit_event {
        margin-top: 58px;
    }

    .col-md-8 .simple-calendar .event {
        width: 59%;
        margin-left: 26%;
        font-size: 60%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    form#new_event, form.edit_event {
        margin-top: 20px;
    }
    .col-md-8 .simple-calendar .event {
        width: 53%;
        margin-left: 29%;
        font-size: 60%;
    }
}


#calendar-link {
    color: white;
    text-align: center;
}