#footer{
  background-image: image-url("intro-small-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
  
//   footer a {
//     color: rgba(211, 206, 206, 0.884)
//   }

// .foot-links {
//     width: 200px;
//     height: auto;
//     padding-top: 50px;
//     }
    
//     .foot-links-a {
//       width: 150px;
//       height: auto;
//       padding-top: 50px;
//       margin-left: 70px;
//     }
