footer {
    box-shadow: inset 0px 0px 50px 0px rgba(187, 187, 187, 0.315);
  }
  
  footer a {
    color: grey
  }


.foot-links {
    width: 200px;
    height: auto;
    padding-top: 50px;
    }
    
    .foot-links-a {
    width: 150px;
    height: auto;
    padding-top: 50px;
    margin-left: 70px;
    }