#section-index-background {
    background-image: url('images/clouds-bottom.png');
    z-index: 100;
  }
  
  .registers a {
    color: rgba(92, 85, 85, 0.514);
    margin-bottom: -200px
  }
  
  .registers{
    height: 650px;
    background-image: url('images/clouds-bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img-index{
    display: flex;
    justify-items: center;
  }
  
  #pass-new {
    height: 375px;
    background-image: url('images/clouds-bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  #middle {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 400px;
    margin-top: 65px;
    border:3px solid #999;
    background-color:#333;
    }
  
  #middlecontent {
    font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  
  #form-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
  }