  .registers a {
    color: rgba(92, 85, 85, 0.514);
    margin-bottom: -200px
  }
  
  .registers-Student{
    background: image-url('background_student_form.jpg');
  }

  .registers-Teacher{
    background: image-url('background_teacher_form.jpg');
  }

  .registers-Establishment{
    background: image-url('background_establishment_form.jpg');
  }

  .registers-Student, .registers-Teacher, .registers-Establishment, #pass-new {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1000;
  }
  
  .img-index{
    display: flex;
    justify-items: center;
  }

  #section-index-background, #pass-new {
    background-image: url('images/clouds-bottom.png');
    background-size: 100% auto;
  }

  #section-index-background {
    z-index: 100;
  }
  
  #pass-new {
    height: 375px;
  }
  
  
  #middle {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    // height: 400px;
    margin-top: 65px;
    border:3px solid #999;
    background-color:#333;
    }
  
  #middlecontent {
    font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  