/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 *= require all.min
 *= require swiper.min
 *= require animate.min
 *= require theme.min
 *= require theme

*/

nav {
  height: 100px;
  z-index: 100 !important;
}

.dropdown-menu {
  width: 20px;
}

.position-absolute {
  margin-bottom: -7px !important;
}

footer {
  box-shadow: inset 0px 0px 50px 0px rgba(187, 187, 187, 0.315);
}

footer a {
  color: grey
}

#section-index-background {
  background-image: url('img/backgrounds/clouds-bottom.png');
  z-index: 100;
}

.registers a {
  color: rgba(92, 85, 85, 0.514);
  margin-bottom: -200px
}

.registers{
  height: 650px;
  background-image: url('img/backgrounds/clouds-bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-index{
  display: flex;
  justify-items: center;
}

#pass-new {
  height: 375px;
  background-image: url('img/backgrounds/clouds-bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
}


#middle {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 400px;
  margin-top: 65px;
  border:3px solid #999;
  background-color:#333;
  }

#middlecontent {
  font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 10px;
}

.foot-links {
width: 200px;
height: auto;
padding-top: 50px;
}

.foot-links-a {
width: 150px;
height: auto;
padding-top: 50px;
margin-left: 70px;
}

/* Google Maps */
.map.embed-container {
  position: relative;
  height: 650px;
  width: 100%;
}
.map.embed-container #map-notice {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(34, 32, 32, 0.849);
  /*for old IE browsers with no support for rgba()*/
  background-color: rgba(43, 40, 40, 0.349);
  color: #ccc;
  padding: 8px;
}
.map.embed-container .map-overlay {
  height: 650px !important;
  width: 100%;
  position: absolute;
  z-index: 99;
  background-color: rgba(31, 29, 29, 0.404);
}

.map-overlay {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 650px !important;
width: 100%;
}

/* index searchbar */
#barbox {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  width: 554px;
  height: 42px;
  border: 1px ridge #e5e5e5;
  box-shadow: 0px 1.5px 3px #c4c4c4;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#barbox:hover {
  box-shadow: 0px 1.5px 3.5px #898989;
}

#topnav {
  width: 554px;
  height: 42px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

}

#search {
  position: relative;
  width: 554px;
  height: 42px;
  padding: 10px 25px 9px 16px;
  border: none;
  font-size: 15px;
  color: rgba(117, 109, 109, 0.733);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

}

search:focus, input:focus {
  outline: none;
}

#research_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

