#index-spotlight {
    background-image: image-url("clouds-bottom.png");
    background-position: center bottom;
    background-size: 100% auto;
    padding-bottom: 13em
}

#top-index {
    background-image: image-url("intro-left.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 91%;
}
