#index-spotlight {
    background-image: image-url("clouds-bottom.png");
    background-position: center bottom;
    background-size: 100% auto;
    padding-bottom: 13em
}

#top-index {
    background-image: image-url("intro-small-left.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#top-index-teacher {
    background-image: image-url("intro-small-left.svg");
    background-repeat: no-repeat;
    z-index: 10;
}

#card-index {
    height: 23em;
}

.image-size {
    max-width: 300px;
    height: 200px;
}
