#index-spotlight {
    background-image: url('components/images/clouds-bottom.png'), linear-gradient(to right top, #c5d6f2, #b9cef0, #adc5ee, #a1bdec, #95b4ea, #8dafea, #86a9e9, #7ea4e9, #78a1eb, #729fed, #6b9cee, #6499f0); 
    background-position: center bottom;
    background-size: 100% auto;
    padding-bottom: 13em
}

#top-index {
    background-image: url('components/images/intro-left.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
}