<% if @resource.class.name == "Student" || @resource.class.name == "Teacher" %>
  <p>Hello <strong><%= @resource.first_name %></strong>!</p>
<% elsif @resource.class.name == "Establishment" %>
  <p>Hello <strong><%= @resource.name %></strong>!</p>
<% end %>

<p>Quelqu'un à fait une demande de reinitialisation de mot de passe pour votre compte <strong>StomyBooksy</strong> ! Vous pouvez pouvez le reinitialiser sur le lien suivant.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas effectué cette demande, ignorez cet email, votre mot de passe ne sera pas changé.</p>

