<% flash.each do |key, value| %>
<%if key != "success" && key != "danger" %>
<%type = "info"%>
<%else%>
<%type = key%>
<%end%>
<div class="alert alert-<%=type%>", id="alerts">
  <%= value %>
</div>
<% end %>