<div class="slice slice-lg bg-primary">
    <span class="tongue tongue-top tongue-secondary"><i class="fas fa-angle-up"></i></span>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 text-center">
                <h3 class="font-weight-400 text-white">Vous souhaitez nous <span class="font-weight-700">rejoindre?</span>.</h3>
                <div class="mt-5">
                    <a href="<%= new_student_registration_path %>" class="btn btn-white btn-circle btn-translate--hover px-4">Inscription élève</a>
                    <a href="<%= new_teacher_registration_path %>" class="btn btn-white btn-circle btn-translate--hover px-4">Inscription professeur</a>
                    <a href="<%= new_establishment_registration_path %>" class="btn btn-white btn-circle btn-translate--hover px-4">Inscription établissement</a>
                </div>
            </div>
        </div>
    </div>
</div>