<header class="header-account-page bg-gradient-primary d-flex align-items-end">
    <div class="container">
        <div class="row justify-content-end">
            <div class=" col-lg-8">
                <!-- Salute + Small stats -->
                <div class="row align-items-center mb-4">
                    <div class="col-md-5 mb-4 mb-md-0">
                        <span class="h2 mb-0 text-white d-block">Morning Heather</span>
                        <span class="text-light">Have a nice day!</span>
                    </div>
                    <div class="col-auto flex-fill">
                        <ul class="list-inline row justify-content-lg-end mb-0">
                            <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                <span class="badge badge-dot text-white">
                            <i class="bg-green"></i>Sales
                        </span>
                                <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">
                            20.5%
                            <small class="far fa-angle-up text-success"></small>
                        </a>
                            </li>
                            <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                <span class="badge badge-dot text-white">
                            <i class="bg-orange"></i>Tasks
                        </span>
                                <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">
                            5.7%
                            <small class="far fa-angle-up text-warning"></small>
                        </a>
                            </li>
                            <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                <span class="badge badge-dot text-white">
                            <i class="bg-red"></i>Sales
                        </span>
                                <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">
                            -3.24%
                            <small class="far fa-angle-down text-danger"></small>
                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Account navigation -->
                <div class="d-flex">
                    <a href="account-profile-public.html" class="btn btn-icon btn-group-nav shadow btn-secondary">
                        <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                        <span class="btn-inner--text d-none d-md-inline-block">My Profile</span>
                    </a>
                    <div class="btn-group btn-group-nav shadow ml-auto" role="group" aria-label="Basic example">
                        <div class="btn-group" role="group">
                            <button id="btn-group-boards" type="button" class="btn btn-secondary btn-icon dropdown-toggle" data-toggle="dropdown" data-offset="0,8" aria-haspopup="true" aria-expanded="false">
                                <span class="btn-inner--icon"><i class="fas fa-chart-line"></i></span>
                                <span class="btn-inner--text d-none d-sm-inline-block">Boards</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" aria-labelledby="btn-group-boards">
                                <a class="dropdown-item" href="account-overview.html">Overview</a>
                                <a class="dropdown-item" href="account-projects.html">Projects</a>
                                <a class="dropdown-item" href="account-tasks.html">Tasks</a>
                                <a class="dropdown-item" href="account-connections.html">Connections</a>
                            </div>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-group-settings" type="button" class="btn btn-secondary btn-icon dropdown-toggle" data-toggle="dropdown" data-offset="0,8" aria-haspopup="true" aria-expanded="false">
                                <span class="btn-inner--icon"><i class="fas fa-sliders-h"></i></span>
                                <span class="btn-inner--text d-none d-sm-inline-block">Settings</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" aria-labelledby="btn-group-settings">
                                <a class="dropdown-item" href="account-profile.html">Profile</a>
                                <a class="dropdown-item" href="account-settings.html">Settings</a>
                                <a class="dropdown-item" href="account-billing.html">Billing</a>
                                <a class="dropdown-item" href="account-notifications.html">Notifications</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>